<!DOCTYPE html>
<html>
  <head>
    <title>ClassReads2</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= yield %>
  </body>

  <footer>
    <ul>
      <li>©2019 Audrea Cook</li>
      <li><img src="CodeWitchLogo.png" alt="AudTheCodeWitch Logo" height="50px"></li>
    </ul>
  </footer>
</html>
